<html><head>
        <title>AJ Theatres</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/AJTheatres.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">AJ Theatres</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-label">
                        <li class="navbar-item"><a href="/StaffIndex">Home</a></li>
                        <li class="navbar-item">
                            <a href="/StaffMovie">Movies</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffGenre">Genres</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffRoom">Rooms</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffShowing">Showings</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffCustomer">Customers</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffAttendance">Attendance</a>
                        </li>
                        <li class="navbar-item"><a href="/">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-left">Add a Showing</h1>
                        <form role="form" method="post">
                            
                            <div class="form-group">
                                <label class="control-label">Showing ID</label>
                                <input class="form-control" type="text" placeholder="Enter Showing ID" name="addShowingID">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Showing Date and Time</label>
                                <input class="form-control" type="text" placeholder="Enter Showing Date" name="addShowingDate">
                            </div>
                            
                        <div class="form-group">
                        <label class="control-label">Movie ID</label>
                        <input class="form-control" type="text" placeholder="Enter Movie ID" name="addShowingMovieID">
                        </div>
                        <div class="form-group">
                        <label class="control-label">Room Number</label>
                        <input class="form-control" type="text" placeholder="Enter Room Number" name="addShowingRoom">
                        </div>
                        <div class="form-group">
                        <label class="control-label">Ticket Price</label>
                        <input class="form-control" type="text" placeholder="Enter Ticket Price" name="addShowingPrice">
                        </div>
                        <button type="submit" name="add" class="btn btn-default">Submit</button>
                        </form>
                        <p></p>

                    </div><div class="col-md-12">
                        <h1 class="text-left">Edit a Showing</h1>
                        <form role="form" method="post"><div class="form-group"><label class="control-label">Current Showing ID</label><input class="form-control" type="text" placeholder="Enter Current Showing ID" name="editShowingID"></div>
                            
                            <div class="form-group">
                                <label class="control-label">New Showing Date and Time</label>
                                <input class="form-control" type="text" placeholder="Enter New Movie Year" name="editShowingDate">
                            </div>
                            
                        <div class="form-group">
                        <label class="control-label">New Movie ID</label>
                        <input class="form-control" type="text" placeholder="Enter New Movie ID" name="editShowingMovieID">
                        </div>
                        <div class="form-group">
                        <label class="control-label">New Room Number</label>
                        <input class="form-control" type="text" placeholder="Enter New Room Number" name="editShowingRoom">
                        </div>
                        <div class="form-group">
                        <label class="control-label">New Ticket Price</label>
                        <input class="form-control" type="text" placeholder="Enter New Ticket Price" name="editShowingPrice">
                        </div>
                        <button type="submit" name="edit" class="btn btn-default">Submit</button>
                        </form>
                        <p></p>
                    </div><div class="col-md-12">
                        <h1 class="text-left">Delete a Showing</h1>
                        <form role="form" method="post">
                            
                            <div class="form-group">
                                <label class="control-label">Showing ID</label>
                                <input class="form-control" type="text" placeholder="Enter Showing ID" name="deleteShowingID">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Showing Date and Time</label>
                                <input class="form-control" type="text" placeholder="Enter Showing Date" name="deleteShowingDate">
                            </div>
                            
                        <div class="form-group">
                        <label class="control-label">Movie ID</label>
                        <input class="form-control" type="text" placeholder="Enter Movie ID" name="deleteShowingMovieID">
                        </div>
                        <div class="form-group">
                        <label class="control-label">Room Number</label>
                        <input class="form-control" type="text" placeholder="Enter Room Number" name="deleteShowingRoom">
                        </div>
                        <div class="form-group">
                        <label class="control-label">Ticket Price</label>
                        <input class="form-control" type="text" placeholder="Enter Ticket Price" name="deleteShowingPrice"></div>
                        <button type="submit" name="delete" class="btn btn-default">Submit</button>
                        </form>
                        <p></p>
                    </div>
                </div>
                
                        <div class="row">
                        <div class="col-md-12">  
                        <h1>List of All Showings</h1> 
                        <table>
                        <thread>
                        <tr>
                        <th>Showing ID</th>
                        <th>Showing Date and Time</th>
                        <th>Showing Movie ID</th>
                        <th>Room Number</th>
                        <th>Ticket Price</th>
                        </tr>
                        </thread>
                        <tbody>
                        {% for showing in ShowingList %}
                        <span><tr>
                        <td>{{ showing.0 }}</td>
                        <td>{{ showing.1 }}</td>
                        <td>{{ showing.2 }}</td>
                        <td>{{ showing.3 }}</td>
                        <td>{{ showing.4 }}</td>
                        </tr></span>
                        {% endfor %}
                        </tbody>
                        </table>
                        
                        <p></p>
                        </div>
                        </div>
            </div>
        </div>
        <br>
        <footer class="container-fluid text-center footer">
            <p>Footer Text</p>
        </footer>
    

</body></html>