<html><head>
        <title>AJ Theatres</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/AJTheatres.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head><body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">AJ Theatres</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-label">
                        <li class="navbar-item"><a href="/StaffIndex">Home</a></li>
                        <li class="navbar-item">
                            <a href="/StaffMovie">Movies</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffGenre">Genres</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffRoom">Rooms</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffShowing">Showings</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffCustomer">Customers</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/StaffAttendance">Attendance</a>
                        </li>
                        <li class="navbar-item"><a href="/">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="section">
            <div class="container">
                
                
                <div class="row"><div class="col-md-12">
                        <h1 class="text-left">Add a Customer</h1>
                        <form role="form" method="post">
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail1">Customer ID:</label>
                                <input class="form-control" id="exampleInputEmail1" placeholder="Enter CustomerID" type="text" name="addCustomerID">
                            </div>
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input class="form-control" type="text" placeholder="Enter First Name" name="addCustomerFName">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input class="form-control" type="text" placeholder="Enter Last Name" name="addCustomerLName">
                            </div>
                            
                        <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="email" placeholder="Enter Email" name="addCustomerEmail">
                        </div>
                        <div class="form-group">
                        <label class="control-label">Sex</label>
                        <input class="form-control" type="text" placeholder="Enter Sex" name="addCustomerSex">
                        </div>
                        <button type="submit" name="add" class="btn btn-default">Submit</button>
                        </form>
                        <p></p>
                    </div><div class="col-md-12">
                        <h1 class="text-left">Edit a Customer</h1>
                        <form role="form" method="post">
                        <div class="form-group">
                        <label class="control-label">Current Customer ID</label>
                        <input class="form-control" type="text" placeholder="Current CustomerID" name="editCustomerID">
                        </div>
                            <div class="form-group">
                                <label class="control-label">New First Name</label>
                                <input class="form-control" type="text" placeholder="Enter New First Name" name="editCustomerFName">
                            </div>
                            <div class="form-group">
                                <label class="control-label">New Last Name</label>
                                <input class="form-control" type="text" placeholder="Enter New Last Name" name="editCustomerLName">
                            </div>

                        <div class="form-group">
                        <label class="control-label">New Email</label>
                        <input class="form-control" type="email" placeholder="Enter New Email" name="editCustomerEmail">
                        </div>
                        <div class="form-group">
                        <label class="control-label">New Sex</label>
                        <input class="form-control" type="text" placeholder="Enter New Sex" name="editCustomerSex">
                        </div>
                        <button type="submit" name="edit" class="btn btn-default">Submit</button>
                        </form>
                        <p></p>
                    </div>
                    <div class="col-md-12">
                        <h1 class="text-left">Delete a Customer</h1>
                        <form role="form" method="post">
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail1">Customer ID:</label>
                                <input class="form-control" id="exampleInputEmail1" placeholder="Enter CustomerID" type="text" name="deleteCustomerID">
                            </div>
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input class="form-control" type="text" placeholder="Enter First Name" name="deleteCustomerFName">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input class="form-control" type="text" placeholder="Enter Last Name" name="deleteCustomerLName">
                            </div>
                            
                        <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="email" placeholder="Enter Email" name="deleteCustomerEmail">
                        </div>
                        <div class="form-group">
                        <label class="control-label">Sex</label>
                        <input class="form-control" type="text" placeholder="Enter Sex" name="deleteCustomerSex"></div>
                        <button type="submit" name="delete" class="btn btn-default">Submit</button>
                        </form>

                        <p></p>
                        <div class="col-md-12">  
                        <h1>List of All Customers</h1> 
                        <table>
                        <thread>
                        <tr>
                        <th>Customer ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Sex</th>
                        </tr>
                        </thread>
                        <tbody>
                        {% for customer in CustomerList %}
                        <span><tr>
                        <td>{{ customer.0 }}</td>
                        <td>{{ customer.1 }}</td>
                        <td>{{ customer.2 }}</td>
                        <td>{{ customer.3 }}</td>
                        <td>{{ customer.4 }}</td>
                        </tr></span>
                        {% endfor %}
                        </tbody>
                        </table>
                        
                        <p></p>
                        </div>
            </div>
        </div>
        <br>
        <footer class="container-fluid text-center footer">
            <p>Footer Text</p>
        </footer>
    

</body></html>